* {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0; 
    padding: 0;
}

.font__body{
    font-size: 2rem;
}

$greencolor: #196E57;

$whitecolor: #fff;

.responsive{
    width: 90%;
    max-width: 1000px;
    margin:0 auto;
    box-sizing: content-box;
}

.imagenes{
    width: auto;
    height: 30rem;
}

.imagenesA{
    width: 30rem;
    height: 20rem;
}



.table-container {
    background-color: $whitecolor;
}

h1{
    color: $greencolor;
    a{
        color: $whitecolor;
    }
}

h2{
    color: $greencolor;
}

h3{
    color: $greencolor;
}

h4{
    color: $greencolor;
}

a {
    text-decoration: none;
    color: $whitecolor;
}

body {
    background-color: $whitecolor;
}

.header__container{
    width: auto;
    height: 15rem;
    background-color: $greencolor;
    box-sizing: content-box;
}

nav, main, footer{
    padding: 0;
    margin: 0;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4vh 60vh 4vh;
    grid-template-areas: "nav" "main" "footer";
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 768px){
    body{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 4vh 70vh 4vh;
        grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
    }
}

@media only screen and (min-width: 1024px){
    body{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 10vh 70vh 4vh;
        grid-template-areas: "nav nav nav nav" "main main main main" "footer footer footer footer";
        
    }
}
