.footer__fondo{
    background-color: $greencolor;
}

.footer__btn {
    background: linear-gradient(to top, #196E57, #17b188);
    // transform: translate(10px,20px);
    max-width: 12rem;
    max-height: 10rem;
    border: 2px solid $whitecolor;
    border-radius: 5px;
    a {
        text-decoration: none;
        margin: 0.2rem;
        color: $whitecolor;
        font-size: 3rem;
    }
}

.container{
    margin: 0 0.5rem;
    max-width: 90vw;
    max-height: 12rem;
    box-sizing: content-box;
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        width: inherit;
            li a {
                display: block;
                margin: 1.4rem;
                img{
                    max-width: 4rem;
                    max-height: 4rem;
                }
        }
    }
}

.footer__btn--container{
    display: flex;
    cursor: pointer;
    flex-flow: row wrap;
    justify-items: space-between;
}
