.grid-container-form{
    display: grid;
    background-color: #196E57;
    text-align: center;
}

.grid-container{
    display: grid;
    background-color: #fff;
    max-width: 82vw;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1rem 0.2rem 0.2rem $greencolor;
    box-sizing: content-box;
    div{
        background-color: #fff;
        justify-content: center;
        text-align: justify;
        color: #196E57;
        h3{
            font-size: 3rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .grid-container {
        width: 100vw;
    }
    section {
        p {
        margin: 5rem;
        width: 70vw;
        font-size: 1.5rem
        }
        h3{
        margin: 5rem;
        }
    }
}

